@model PlanDetailsViewModel

<div class="row">
    <div class="col-3 text-center ">
        <img src="/Images/Plan/@(Model.PlanImageUrl).jpg"  />
        <h3>@Model.PlanName</h3>
    </div>
    <div class="col-8" dir="rtl">
        <p>@Model.PlanDescription</p>
        <br>
        <p>
            <a asp-action="Create" asp-controller="Vote" asp-route-planId="@Model.PlanId" class="btn btn-success" >نظر من</a>
        </p>
        @if(Model.Votes == null)
        {
            <h1>دیدگاهی وجود ندارد</h1>
        }
        else
        {
        @foreach (var item in Model.Votes)
        {
            <div style="
            background: linear-gradient(to right, #33ccff 0%, #9933ff 100%);
            height: 50px;
            min-width: 600px;
            border-radius: 50px;
            margin-bottom: 10px;
            " class="row">
                
                @if(User.FindFirstValue(ClaimTypes.NameIdentifier) == item.UserId.ToString())
                {
                <div class="col-3 text-center">
                    <a style="margin-top: 10px;" class="btn btn-danger btn-sm" asp-route-voteId="@item.VoteId" asp-controller="Vote" asp-action="Delete" >Delete</a>
                </div>
                <div class="col-3 text-center">
                    <p style="font-size: 20px; margin-top: 10px; color: white;">
                    @item.DayTime
                    </p>
                </div>
                }
                else
                {
                <div class="col-6 text-center">
                    <p style="font-size: 20px; margin-top: 10px; color: white;">
                    @item.DayTime
                    </p>
                </div>
                    
                }

                

                <div class="col-3 text-center">
                    <p style="font-size: 20px; margin-top: 10px; color: white;">
                    @item.VoteData
                    </p>
                </div>

                <div class="col-3 text-center">
                    <p style="font-size: 20px; margin-top: 10px; color: white;">
                    @item.User.UserName
                    </p>
                </div>
            </div>
        }
        }
        
    </div>
</div>