@model IEnumerable<Plan>



@if(Model == null)
{
    <div class="alert alert-danger" role="alert">
        برنامه ای نداریم    
    </div>
}
else
{
<div style="width:650px;">
<p>
    <a asp-action="Create" class="btn btn-success">برنامه جدید</a>
</p>
<table class="table glass">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                کاربر
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @item.User.UserName
            </td>
            <td>
                @if(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier)) == item.UserId)
                {
                <a asp-action="Edit" asp-route-planId="@item.PlanId" class="btn btn-warning btn-sm">ویرایش</a>
                <a asp-action="Delete" asp-route-planId="@item.PlanId" class="btn btn-danger btn-sm">حذف</a>
                }


                <a asp-action="Details" asp-route-planId="@item.PlanId" class="btn btn-info btn-sm">جزئیات</a>
            </td>
        </tr>
}
    </tbody>
</table>

</div>


}

